frontend/node_modules
frontend/build
frontend/public/build
frontend/public/index.html
frontend/public/logo192.png
frontend/public/logo512.png
frontend/public/manifest.json
frontend/public/robots.txt
frontend/public/favicon.ico
*.sqlite
backend/ai-venv/*

